.header {
  background-color: rgb(148, 29, 2);
}
button {
  position: relative; /* برای قرارگیری badge */
}
/*برای شفافیت و تاریک شدن بقیه قسمت ها زمانی که toggle باز شده*/
body.cart-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

body.cart-open::before {
  opacity: 1;
}
